<a href="https://colab.research.google.com/github/ehtesham807/NLP/blob/main/Tokenization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
### Sentence Tokenization

import spacy

In [6]:
nlp = spacy.blank("en")

doc = nlp("Dr. Strange loves pav bhaji of mumbai. Hulk loves chaat of delhi")
for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
.
Hulk
loves
chaat
of
delhi

In [7]:
nlp = spacy.blank("en")

doc = nlp('''"Let's go to N.Y.!"''')
for token in doc:
    print(token)

"
Let
's
go
to
N.Y.
!
"

In [8]:
doc = nlp("Tony gave two $ to Peter.")

In [9]:
token0 = doc[0]
token0

Tony

In [10]:
type(token0)

spacy.tokens.token.Token

In [11]:
token0.like_num

False

In [12]:
token2 = doc[2]
token2.text

'two'

In [13]:
token2.like_num

True

In [14]:
token3 = doc[3]
token3.text

'$'

In [18]:
token3.is_currency

True

In [20]:
with open("book1.txt") as f:
    text = f.readlines()
text

['"Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.comDayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 '"\n']

In [21]:
text = ' '.join(text)
text

'"Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.comDayton high school, 8th grade students information\n ==================================================\n \n "\n'

In [22]:
doc = nlp(text)
emails = []
for token in doc:
    if token.like_email:
        emails.append(token.text)
emails

['virat@kohli.com',
 'maria@sharapova.com',
 'serena@williams.com',
 'joe@root.comDayton']

In [27]:
#### Excercise

### Exracting urls from given data

text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/,
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

In [28]:
doc = nlp(text)
urls = []
for token in doc:
  if token.like_url:
    urls.append(token.text)
urls

['http://www.data.gov/',
 'http://www.science',
 'http://data.gov.uk/.',
 'http://www3.norc.org/gss+website/',
 'http://www.europeansocialsurvey.org/.']

In [29]:
### Exracting number and thier symbol from given data

transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"

In [30]:
doc = nlp(transactions)
for token in doc:
  if token.like_num and doc[token.i+1].is_currency:
    print(token.text, doc[token.i+1].text)

two $
500 €